// THE TRADING POST - one listing. GENERATED - do not hand-edit.
//   python3 tools/gentradingpost.py

[frame_0]
type=graphic
x=12
y=20
width=88
height=60
graphic=tradebacking,0

[frame_1]
type=graphic
x=12
y=80
width=88
height=60
graphic=tradebacking,0

[frame_2]
type=graphic
x=12
y=140
width=88
height=60
graphic=tradebacking,0

[frame_3]
type=graphic
x=12
y=200
width=88
height=60
graphic=tradebacking,0

[frame_4]
type=graphic
x=12
y=260
width=88
height=60
graphic=tradebacking,0

[frame_5]
type=graphic
x=100
y=20
width=88
height=60
graphic=tradebacking,0

[frame_6]
type=graphic
x=100
y=80
width=88
height=60
graphic=tradebacking,0

[frame_7]
type=graphic
x=100
y=140
width=88
height=60
graphic=tradebacking,0

[frame_8]
type=graphic
x=100
y=200
width=88
height=60
graphic=tradebacking,0

[frame_9]
type=graphic
x=188
y=20
width=88
height=60
graphic=tradebacking,0

[frame_10]
type=graphic
x=100
y=260
width=88
height=60
graphic=tradebacking,0

[frame_11]
type=graphic
x=188
y=80
width=88
height=60
graphic=tradebacking,0

[frame_12]
type=graphic
x=188
y=140
width=88
height=60
graphic=tradebacking,0

[frame_13]
type=graphic
x=188
y=200
width=88
height=60
graphic=tradebacking,0

[frame_14]
type=graphic
x=188
y=260
width=88
height=60
graphic=tradebacking,0

[frame_15]
type=graphic
x=276
y=20
width=88
height=60
graphic=tradebacking,0

[frame_16]
type=graphic
x=364
y=80
width=88
height=60
graphic=tradebacking,0

[frame_17]
type=graphic
x=276
y=80
width=88
height=60
graphic=tradebacking,0

[frame_18]
type=graphic
x=276
y=140
width=88
height=60
graphic=tradebacking,0

[frame_19]
type=graphic
x=276
y=200
width=88
height=60
graphic=tradebacking,0

[frame_20]
type=graphic
x=276
y=260
width=88
height=60
graphic=tradebacking,0

[frame_21]
type=graphic
x=364
y=140
width=88
height=60
graphic=tradebacking,0

[frame_22]
type=graphic
x=364
y=20
width=88
height=60
graphic=tradebacking,0

[frame_23]
type=graphic
x=364
y=200
width=88
height=60
graphic=tradebacking,0

[frame_24]
type=graphic
x=364
y=260
width=88
height=60
graphic=tradebacking,0

[frame_25]
type=graphic
x=412
y=20
width=88
height=60
graphic=tradebacking,0

[frame_26]
type=graphic
x=412
y=80
width=88
height=60
graphic=tradebacking,0

[frame_27]
type=graphic
x=412
y=140
width=88
height=60
graphic=tradebacking,0

[frame_28]
type=graphic
x=412
y=200
width=88
height=60
graphic=tradebacking,0

[frame_29]
type=graphic
x=412
y=260
width=88
height=60
graphic=tradebacking,0

[frame_30]
type=graphic
x=12
y=20
width=25
height=30
graphic=steelborder,0

[frame_31]
type=graphic
x=-3
y=49
width=36
height=36
graphic=miscgraphics,2

[frame_32]
type=graphic
x=-3
y=85
width=36
height=36
graphic=miscgraphics,2

[frame_33]
type=graphic
x=-3
y=121
width=36
height=36
graphic=miscgraphics,2

[frame_34]
type=graphic
x=-3
y=157
width=36
height=36
graphic=miscgraphics,2

[frame_35]
type=graphic
x=-3
y=193
width=36
height=36
graphic=miscgraphics,2

[frame_36]
type=graphic
x=-3
y=229
width=36
height=36
graphic=miscgraphics,2

[frame_37]
type=graphic
x=-3
y=265
width=36
height=36
graphic=miscgraphics,2

[frame_38]
type=graphic
x=479
y=50
width=36
height=36
graphic=steelborder2,1

[frame_39]
type=graphic
x=479
y=86
width=36
height=36
graphic=steelborder2,1

[frame_40]
type=graphic
x=479
y=122
width=36
height=36
graphic=steelborder2,1

[frame_41]
type=graphic
x=479
y=158
width=36
height=36
graphic=steelborder2,1

[frame_42]
type=graphic
x=479
y=194
width=36
height=36
graphic=steelborder2,1

[frame_43]
type=graphic
x=479
y=230
width=36
height=36
graphic=steelborder2,1

[frame_44]
type=graphic
x=479
y=266
width=36
height=36
graphic=steelborder2,1

[frame_45]
type=graphic
x=73
y=299
width=36
height=36
graphic=miscgraphics,3

[frame_46]
type=graphic
x=109
y=299
width=36
height=36
graphic=miscgraphics,3

[frame_47]
type=graphic
x=145
y=299
width=36
height=36
graphic=miscgraphics,3

[frame_48]
type=graphic
x=181
y=299
width=36
height=36
graphic=miscgraphics,3

[frame_49]
type=graphic
x=217
y=299
width=36
height=36
graphic=miscgraphics,3

[frame_50]
type=graphic
x=253
y=299
width=36
height=36
graphic=miscgraphics,3

[frame_51]
type=graphic
x=289
y=299
width=36
height=36
graphic=miscgraphics,3

[frame_52]
type=graphic
x=325
y=299
width=36
height=36
graphic=miscgraphics,3

[frame_53]
type=graphic
x=361
y=299
width=36
height=36
graphic=miscgraphics,3

[frame_54]
type=graphic
x=397
y=299
width=36
height=36
graphic=miscgraphics,3

[frame_55]
type=graphic
x=433
y=299
width=36
height=36
graphic=miscgraphics,3

[frame_56]
type=graphic
x=72
y=5
width=36
height=36
graphic=steelborder2,0

[frame_57]
type=graphic
x=108
y=5
width=36
height=36
graphic=steelborder2,0

[frame_58]
type=graphic
x=144
y=5
width=36
height=36
graphic=steelborder2,0

[frame_59]
type=graphic
x=180
y=5
width=36
height=36
graphic=steelborder2,0

[frame_60]
type=graphic
x=216
y=5
width=36
height=36
graphic=steelborder2,0

[frame_61]
type=graphic
x=252
y=5
width=36
height=36
graphic=steelborder2,0

[frame_62]
type=graphic
x=288
y=5
width=36
height=36
graphic=steelborder2,0

[frame_63]
type=graphic
x=324
y=5
width=36
height=36
graphic=steelborder2,0

[frame_64]
type=graphic
x=360
y=5
width=36
height=36
graphic=steelborder2,0

[frame_65]
type=graphic
x=396
y=5
width=36
height=36
graphic=steelborder2,0

[frame_66]
type=graphic
x=432
y=5
width=36
height=36
graphic=steelborder2,0

[frame_67]
type=graphic
x=252
y=34
width=36
height=36
graphic=steelborder2,0

[frame_68]
type=graphic
x=37
y=5
width=36
height=36
graphic=steelborder2,0

[frame_69]
type=graphic
x=37
y=299
width=36
height=36
graphic=miscgraphics,3

[frame_70]
type=graphic
x=12
y=290
width=25
height=30
graphic=steelborder,2

[frame_71]
type=graphic
x=475
y=20
width=25
height=30
graphic=steelborder,1

[frame_72]
type=graphic
x=439
y=5
width=36
height=36
graphic=steelborder2,0

[frame_73]
type=graphic
x=475
y=290
width=25
height=30
graphic=steelborder,3

[frame_74]
type=graphic
x=439
y=299
width=36
height=36
graphic=miscgraphics,3

[frame_79]
type=graphic
x=288
y=34
width=36
height=36
graphic=steelborder2,0

[frame_80]
type=graphic
x=324
y=34
width=36
height=36
graphic=steelborder2,0

[frame_81]
type=graphic
x=360
y=34
width=36
height=36
graphic=steelborder2,0

[frame_82]
type=graphic
x=396
y=34
width=36
height=36
graphic=steelborder2,0

[frame_83]
type=graphic
x=432
y=34
width=36
height=36
graphic=steelborder2,0

[frame_84]
type=graphic
x=459
y=34
width=36
height=36
graphic=steelborder2,0

[frame_85]
type=graphic
x=216
y=34
width=36
height=36
graphic=steelborder2,0

[frame_86]
type=graphic
x=180
y=34
width=36
height=36
graphic=steelborder2,0

[frame_87]
type=graphic
x=144
y=34
width=36
height=36
graphic=steelborder2,0

[frame_88]
type=graphic
x=108
y=34
width=36
height=36
graphic=steelborder2,0

[frame_89]
type=graphic
x=72
y=34
width=36
height=36
graphic=steelborder2,0

[frame_90]
type=graphic
x=36
y=34
width=36
height=36
graphic=steelborder2,0

[frame_91]
type=graphic
x=17
y=34
width=36
height=36
graphic=steelborder2,0

[title]
type=text
x=12
y=29
width=488
height=14
font=b12_full
shadowed=yes
center=yes
colour=0xFF981F
text=

[close]
type=text
x=420
y=29
width=68
height=11
buttontype=close
font=p11_full
shadowed=yes
text=Close Window
colour=0x808080
overcolour=0xFFFFFF

[item]
type=inv
x=30
y=62
width=1
height=1
margin=0,0

[info0]
type=text
x=76
y=58
width=244
height=14
font=p12_full
shadowed=yes
colour=0xFFFF00
text=

[info1]
type=text
x=76
y=72
width=244
height=14
font=p12_full
shadowed=yes
colour=0xFFFFFF
text=

[info2]
type=text
x=76
y=86
width=244
height=14
font=p12_full
shadowed=yes
colour=0xFFFFFF
text=

[info3]
type=text
x=76
y=100
width=244
height=14
font=p12_full
shadowed=yes
colour=0xFFFFFF
text=

[info4]
type=text
x=76
y=114
width=244
height=14
font=p12_full
shadowed=yes
colour=0xFFFFFF
text=

[buynow_box]
type=layer
x=320
y=58
width=170
height=14

[buynow]
layer=buynow_box
type=text
x=0
y=0
width=170
height=14
buttontype=normal
font=p12_full
shadowed=yes
colour=0xFF981F
overcolour=0xFFFFFF
text=Buy now
option=Buy now

[cancel_box]
type=layer
x=320
y=58
width=170
height=14

[cancel]
layer=cancel_box
type=text
x=0
y=0
width=170
height=14
buttontype=normal
font=p12_full
shadowed=yes
colour=0xFF981F
overcolour=0xFFFFFF
text=Take down this listing
option=Take down this listing

[makeoffer_box]
type=layer
x=320
y=74
width=170
height=14

[makeoffer]
layer=makeoffer_box
type=text
x=0
y=0
width=170
height=14
buttontype=normal
font=p12_full
shadowed=yes
colour=0xFF981F
overcolour=0xFFFFFF
text=Make an offer
option=Make an offer

[withdraw_box]
type=layer
x=320
y=74
width=170
height=14

[withdraw]
layer=withdraw_box
type=text
x=0
y=0
width=170
height=14
buttontype=normal
font=p12_full
shadowed=yes
colour=0xFF981F
overcolour=0xFFFFFF
text=Withdraw my offer
option=Withdraw my offer

[offers_title]
type=text
x=24
y=134
width=280
height=14
font=b12_full
shadowed=yes
colour=0xFF981F
text=Offers

[row0_box]
type=layer
x=24
y=152
width=284
height=14

[row0]
layer=row0_box
type=text
x=0
y=0
width=284
height=14
buttontype=normal
font=p12_full
shadowed=yes
colour=0xFF981F
overcolour=0xFFFFFF
text=
option=Select

[row1_box]
type=layer
x=24
y=168
width=284
height=14

[row1]
layer=row1_box
type=text
x=0
y=0
width=284
height=14
buttontype=normal
font=p12_full
shadowed=yes
colour=0xFF981F
overcolour=0xFFFFFF
text=
option=Select

[row2_box]
type=layer
x=24
y=184
width=284
height=14

[row2]
layer=row2_box
type=text
x=0
y=0
width=284
height=14
buttontype=normal
font=p12_full
shadowed=yes
colour=0xFF981F
overcolour=0xFFFFFF
text=
option=Select

[row3_box]
type=layer
x=24
y=200
width=284
height=14

[row3]
layer=row3_box
type=text
x=0
y=0
width=284
height=14
buttontype=normal
font=p12_full
shadowed=yes
colour=0xFF981F
overcolour=0xFFFFFF
text=
option=Select

[row4_box]
type=layer
x=24
y=216
width=284
height=14

[row4]
layer=row4_box
type=text
x=0
y=0
width=284
height=14
buttontype=normal
font=p12_full
shadowed=yes
colour=0xFF981F
overcolour=0xFFFFFF
text=
option=Select

[row5_box]
type=layer
x=24
y=232
width=284
height=14

[row5]
layer=row5_box
type=text
x=0
y=0
width=284
height=14
buttontype=normal
font=p12_full
shadowed=yes
colour=0xFF981F
overcolour=0xFFFFFF
text=
option=Select

[row6_box]
type=layer
x=24
y=248
width=284
height=14

[row6]
layer=row6_box
type=text
x=0
y=0
width=284
height=14
buttontype=normal
font=p12_full
shadowed=yes
colour=0xFF981F
overcolour=0xFFFFFF
text=
option=Select

[row7_box]
type=layer
x=24
y=264
width=284
height=14

[row7]
layer=row7_box
type=text
x=0
y=0
width=284
height=14
buttontype=normal
font=p12_full
shadowed=yes
colour=0xFF981F
overcolour=0xFFFFFF
text=
option=Select

[offers_none_box]
type=layer
x=24
y=152
width=284
height=14

[offers_none]
layer=offers_none_box
type=text
x=0
y=0
width=284
height=14
font=p12_full
shadowed=yes
colour=0x808080
text=No offers yet.

[sel_box]
type=layer
x=316
y=134
width=180
height=160

[sel_title]
layer=sel_box
type=text
x=4
y=0
width=170
height=14
font=b12_full
shadowed=yes
colour=0xFF981F
text=

[offer_items]
layer=sel_box
type=inv
x=4
y=18
width=4
height=3
margin=10,8

[accept]
layer=sel_box
type=text
x=4
y=144
width=80
height=14
buttontype=normal
font=p12_full
shadowed=yes
colour=0xFF981F
overcolour=0xFFFFFF
text=Accept
option=Accept offer

[decline]
layer=sel_box
type=text
x=94
y=144
width=80
height=14
buttontype=normal
font=p12_full
shadowed=yes
colour=0xFF981F
overcolour=0xFFFFFF
text=Decline
option=Decline offer

[back]
type=text
x=24
y=296
width=80
height=14
buttontype=normal
font=p12_full
shadowed=yes
colour=0xFF981F
overcolour=0xFFFFFF
text=< Back
option=Back

[hint]
type=text
x=110
y=296
width=380
height=14
font=p11_full
shadowed=yes
center=yes
colour=0xFF981F
text=
