// 474's Equipment Stats screen (474 interface 465), from the Worn Equipment tab. Converted by
// LostCityServer tools/models/port474if.py. player is client code 328 - you, dressed (Client-Java).
// Scripts: player/scripts/equipment_screens.rs2 and equip.rs2 (~update_bonuses writes the bonuses).
type=layer

[com_0]
type=graphic
x=12
y=20
width=88
height=60
graphic=tradebacking,0

[com_1]
type=graphic
x=12
y=80
width=88
height=60
graphic=tradebacking,0

[com_2]
type=graphic
x=12
y=140
width=88
height=60
graphic=tradebacking,0

[com_3]
type=graphic
x=12
y=200
width=88
height=60
graphic=tradebacking,0

[com_4]
type=graphic
x=12
y=260
width=88
height=60
graphic=tradebacking,0

[com_5]
type=graphic
x=100
y=20
width=88
height=60
graphic=tradebacking,0

[com_6]
type=graphic
x=100
y=80
width=88
height=60
graphic=tradebacking,0

[com_7]
type=graphic
x=100
y=140
width=88
height=60
graphic=tradebacking,0

[com_8]
type=graphic
x=100
y=200
width=88
height=60
graphic=tradebacking,0

[com_9]
type=graphic
x=188
y=20
width=88
height=60
graphic=tradebacking,0

[com_10]
type=graphic
x=100
y=260
width=88
height=60
graphic=tradebacking,0

[com_11]
type=graphic
x=188
y=80
width=88
height=60
graphic=tradebacking,0

[com_12]
type=graphic
x=188
y=140
width=88
height=60
graphic=tradebacking,0

[com_13]
type=graphic
x=188
y=200
width=88
height=60
graphic=tradebacking,0

[com_14]
type=graphic
x=188
y=260
width=88
height=60
graphic=tradebacking,0

[com_15]
type=graphic
x=276
y=20
width=88
height=60
graphic=tradebacking,0

[com_16]
type=graphic
x=364
y=80
width=88
height=60
graphic=tradebacking,0

[com_17]
type=graphic
x=276
y=80
width=88
height=60
graphic=tradebacking,0

[com_18]
type=graphic
x=276
y=140
width=88
height=60
graphic=tradebacking,0

[com_19]
type=graphic
x=276
y=200
width=88
height=60
graphic=tradebacking,0

[com_20]
type=graphic
x=276
y=260
width=88
height=60
graphic=tradebacking,0

[com_21]
type=graphic
x=364
y=140
width=88
height=60
graphic=tradebacking,0

[com_22]
type=graphic
x=364
y=20
width=88
height=60
graphic=tradebacking,0

[com_23]
type=graphic
x=364
y=200
width=88
height=60
graphic=tradebacking,0

[com_24]
type=graphic
x=364
y=260
width=88
height=60
graphic=tradebacking,0

[com_25]
type=graphic
x=412
y=20
width=88
height=60
graphic=tradebacking,0

[com_26]
type=graphic
x=412
y=80
width=88
height=60
graphic=tradebacking,0

[com_27]
type=graphic
x=412
y=140
width=88
height=60
graphic=tradebacking,0

[com_28]
type=graphic
x=412
y=200
width=88
height=60
graphic=tradebacking,0

[com_29]
type=graphic
x=412
y=260
width=88
height=60
graphic=tradebacking,0

[com_30]
type=graphic
x=12
y=20
width=25
height=30
graphic=steelborder,0

[com_31]
type=graphic
x=-3
y=49
width=36
height=36
graphic=miscgraphics,2

[com_32]
type=graphic
x=-3
y=85
width=36
height=36
graphic=miscgraphics,2

[com_33]
type=graphic
x=-3
y=121
width=36
height=36
graphic=miscgraphics,2

[com_34]
type=graphic
x=-3
y=157
width=36
height=36
graphic=miscgraphics,2

[com_35]
type=graphic
x=-3
y=193
width=36
height=36
graphic=miscgraphics,2

[com_36]
type=graphic
x=-3
y=229
width=36
height=36
graphic=miscgraphics,2

[com_37]
type=graphic
x=-3
y=265
width=36
height=36
graphic=miscgraphics,2

[com_38]
type=graphic
x=479
y=50
width=36
height=36
graphic=steelborder2,1

[com_39]
type=graphic
x=479
y=86
width=36
height=36
graphic=steelborder2,1

[com_40]
type=graphic
x=479
y=122
width=36
height=36
graphic=steelborder2,1

[com_41]
type=graphic
x=479
y=158
width=36
height=36
graphic=steelborder2,1

[com_42]
type=graphic
x=479
y=194
width=36
height=36
graphic=steelborder2,1

[com_43]
type=graphic
x=479
y=230
width=36
height=36
graphic=steelborder2,1

[com_44]
type=graphic
x=479
y=266
width=36
height=36
graphic=steelborder2,1

[com_45]
type=graphic
x=73
y=299
width=36
height=36
graphic=miscgraphics,3

[com_46]
type=graphic
x=109
y=299
width=36
height=36
graphic=miscgraphics,3

[com_47]
type=graphic
x=145
y=299
width=36
height=36
graphic=miscgraphics,3

[com_48]
type=graphic
x=181
y=299
width=36
height=36
graphic=miscgraphics,3

[com_49]
type=graphic
x=217
y=299
width=36
height=36
graphic=miscgraphics,3

[com_50]
type=graphic
x=253
y=299
width=36
height=36
graphic=miscgraphics,3

[com_51]
type=graphic
x=289
y=299
width=36
height=36
graphic=miscgraphics,3

[com_52]
type=graphic
x=325
y=299
width=36
height=36
graphic=miscgraphics,3

[com_53]
type=graphic
x=361
y=299
width=36
height=36
graphic=miscgraphics,3

[com_54]
type=graphic
x=397
y=299
width=36
height=36
graphic=miscgraphics,3

[com_55]
type=graphic
x=433
y=299
width=36
height=36
graphic=miscgraphics,3

[com_56]
type=graphic
x=72
y=5
width=36
height=36
graphic=steelborder2,0

[com_57]
type=graphic
x=108
y=5
width=36
height=36
graphic=steelborder2,0

[com_58]
type=graphic
x=144
y=5
width=36
height=36
graphic=steelborder2,0

[com_59]
type=graphic
x=180
y=5
width=36
height=36
graphic=steelborder2,0

[com_60]
type=graphic
x=216
y=5
width=36
height=36
graphic=steelborder2,0

[com_61]
type=graphic
x=252
y=5
width=36
height=36
graphic=steelborder2,0

[com_62]
type=graphic
x=288
y=5
width=36
height=36
graphic=steelborder2,0

[com_63]
type=graphic
x=324
y=5
width=36
height=36
graphic=steelborder2,0

[com_64]
type=graphic
x=360
y=5
width=36
height=36
graphic=steelborder2,0

[com_65]
type=graphic
x=396
y=5
width=36
height=36
graphic=steelborder2,0

[com_66]
type=graphic
x=432
y=5
width=36
height=36
graphic=steelborder2,0

[com_67]
type=graphic
x=37
y=5
width=36
height=36
graphic=steelborder2,0

[com_68]
type=graphic
x=37
y=299
width=36
height=36
graphic=miscgraphics,3

[com_69]
type=graphic
x=12
y=290
width=25
height=30
graphic=steelborder,2

[com_70]
type=graphic
x=475
y=20
width=25
height=30
graphic=steelborder,1

[com_71]
type=graphic
x=439
y=5
width=36
height=36
graphic=steelborder2,0

[com_72]
type=graphic
x=475
y=290
width=25
height=30
graphic=steelborder,3

[com_73]
type=graphic
x=439
y=299
width=36
height=36
graphic=miscgraphics,3

[frame]
type=layer
x=36
y=20
width=440
height=299

[title]
type=text
x=23
y=29
width=458
height=14
font=b12_full
shadowed=yes
text=Equip Your Character...
colour=0xFF981F
activecolour=0xFF981F

[player]
type=model
x=209
y=201
clientcode=328
width=136
height=168
zoom=550
xan=0
yan=0

[close]
type=graphic
x=471
y=26
buttontype=close
width=26
height=23
graphic=i474_535,0

[close_layer]
type=layer
x=465
y=22
width=32
height=32
hide=yes

[com_78]
type=graphic
layer=close_layer
x=6
y=4
width=26
height=23
graphic=i474_536,0

[worn_layer]
type=layer
x=21
y=68
width=163
height=199

[com_80]
type=graphic
layer=worn_layer
x=62
y=38
width=36
height=36
graphic=miscgraphics,2

[com_81]
type=graphic
layer=worn_layer
x=62
y=67
width=36
height=36
graphic=miscgraphics,2

[com_82]
type=graphic
layer=worn_layer
x=62
y=104
width=36
height=36
graphic=miscgraphics,2

[com_83]
type=graphic
layer=worn_layer
x=62
y=145
width=36
height=36
graphic=miscgraphics,2

[com_84]
type=graphic
layer=worn_layer
x=6
y=117
width=36
height=36
graphic=miscgraphics,2

[com_85]
type=graphic
layer=worn_layer
x=6
y=153
width=36
height=36
graphic=miscgraphics,2

[com_86]
type=graphic
layer=worn_layer
x=118
y=117
width=36
height=36
graphic=miscgraphics,2

[com_87]
type=graphic
layer=worn_layer
x=118
y=153
width=36
height=36
graphic=miscgraphics,2

[com_88]
type=graphic
layer=worn_layer
x=32
y=80
width=36
height=36
graphic=miscgraphics,3

[com_89]
type=graphic
layer=worn_layer
x=91
y=80
width=36
height=36
graphic=miscgraphics,3

[com_90]
type=graphic
layer=worn_layer
x=42
y=41
width=36
height=36
graphic=miscgraphics,3

[com_91]
type=graphic
layer=worn_layer
x=96
y=40
width=36
height=36
graphic=miscgraphics,3

[com_92]
type=graphic
layer=worn_layer
x=62
y=3
width=36
height=36
graphic=miscgraphics,0

[com_93]
type=graphic
layer=worn_layer
x=21
y=42
width=36
height=36
graphic=miscgraphics,0

[com_94]
type=graphic
layer=worn_layer
x=62
y=42
width=36
height=36
graphic=miscgraphics,0

[com_95]
type=graphic
layer=worn_layer
x=103
y=42
width=36
height=36
graphic=miscgraphics,0

[com_96]
type=graphic
layer=worn_layer
x=6
y=81
width=36
height=36
graphic=miscgraphics,0

[com_97]
type=graphic
layer=worn_layer
x=62
y=81
width=36
height=36
graphic=miscgraphics,0

[com_98]
type=graphic
layer=worn_layer
x=118
y=81
width=36
height=36
graphic=miscgraphics,0

[com_99]
type=graphic
layer=worn_layer
x=62
y=121
width=36
height=36
graphic=miscgraphics,0

[com_100]
type=graphic
layer=worn_layer
x=62
y=161
width=36
height=36
graphic=miscgraphics,0

[com_101]
type=graphic
layer=worn_layer
x=6
y=161
width=36
height=36
graphic=miscgraphics,0

[com_102]
type=graphic
layer=worn_layer
x=118
y=161
width=36
height=36
graphic=miscgraphics,0

[worn]
type=inv
layer=worn_layer
x=8
y=43
width=3
height=5
margin=24,8
slot1=wornicons,0:56,-38
slot2=wornicons,1:-41,1
slot3=wornicons,2:-56,1
slot4=wornicons,3
slot5=wornicons,5
slot6=wornicons,6
slot8=wornicons,7
slot10=wornicons,8
slot11=wornicons,9
slot12=:-55,40
slot13=wornicons,4:112,-40
slot14=wornicons,10:41,-159
option1=Remove

[bonuses]
// 141 AND NOT 147, so that a scrollbar would have somewhere to go. Client.drawInterface draws one
// at x + width, sixteen wide: at 147 that is 505..520 and this window ends at 515. Nothing shows it
// today because scroll (110) is under height (234), so no bar is drawn at all - it would appear the
// first time this list grew past the box, which is how the collection log's did. The widest thing
// inside reaches 125, so there is nothing to clip; the six pixels were slack.
type=layer
x=358
y=70
width=141
height=234
scroll=110

[attack_title]
type=text
layer=bonuses
x=7
y=1
width=111
height=15
font=b12_full
shadowed=yes
text=Attack bonus
colour=0xFF981F

[defence_title]
type=text
layer=bonuses
x=7
y=93
width=111
height=15
font=b12_full
shadowed=yes
text=Defence bonus
colour=0xFF981F

[stabattack]
type=text
layer=bonuses
x=14
y=15
width=111
height=15
font=p12_full
shadowed=yes
text=Stab: +120
colour=0xFF981F

[slashattack]
type=text
layer=bonuses
x=14
y=29
width=111
height=15
font=p12_full
shadowed=yes
text=Slash:+120
colour=0xFF981F

[crushattack]
type=text
layer=bonuses
x=14
y=43
width=111
height=15
font=p12_full
shadowed=yes
text=Crush:+120
colour=0xFF981F

[magicattack]
type=text
layer=bonuses
x=14
y=57
width=111
height=15
font=p12_full
shadowed=yes
text=Magic: +120
colour=0xFF981F

[rangeattack]
type=text
layer=bonuses
x=14
y=71
width=111
height=15
font=p12_full
shadowed=yes
text=Range: +120
colour=0xFF981F

[stabdefence]
type=text
layer=bonuses
x=14
y=107
width=111
height=15
font=p12_full
shadowed=yes
text=Stab: +120
colour=0xFF981F

[slashdefence]
type=text
layer=bonuses
x=14
y=121
width=111
height=15
font=p12_full
shadowed=yes
text=Slash: +120
colour=0xFF981F

[crushdefence]
type=text
layer=bonuses
x=14
y=135
width=111
height=15
font=p12_full
shadowed=yes
text=Crush: +120
colour=0xFF981F

[magicdefence]
type=text
layer=bonuses
x=14
y=149
width=111
height=15
font=p12_full
shadowed=yes
text=Magic: +120
colour=0xFF981F

[rangedefence]
type=text
layer=bonuses
x=14
y=163
width=111
height=15
font=p12_full
shadowed=yes
text=Range: +120
colour=0xFF981F

[other_title]
type=text
layer=bonuses
x=7
y=183
width=111
height=15
font=b12_full
shadowed=yes
text=Other bonuses
colour=0xFF981F

[strengthbonus]
type=text
layer=bonuses
x=14
y=197
width=111
height=15
font=p12_full
shadowed=yes
text=Strength: +120
colour=0xFF981F

[prayerbonus]
type=text
layer=bonuses
x=14
y=211
width=111
height=15
font=p12_full
shadowed=yes
text=Prayer: +120
colour=0xFF981F

[weight]
type=text
x=94
y=287
script1op1=runweight
width=62
height=15
font=p12_full
shadowed=yes
text=%1kg
colour=0xFF9800

[com_122]
type=graphic
x=73
y=285
width=17
height=18
graphic=i474_649,0

[weight_tip]
type=8
x=73
y=285
width=60
height=18
text=Weight carried includes all backpack items
