[frame0]
type=graphic
x=12
y=20
width=88
height=60
graphic=tradebacking,0

[frame1]
type=graphic
x=12
y=80
width=88
height=60
graphic=tradebacking,0

[frame2]
type=graphic
x=12
y=140
width=88
height=60
graphic=tradebacking,0

[frame3]
type=graphic
x=12
y=200
width=88
height=60
graphic=tradebacking,0

[frame4]
type=graphic
x=12
y=260
width=88
height=60
graphic=tradebacking,0

[frame5]
type=graphic
x=100
y=20
width=88
height=60
graphic=tradebacking,0

[frame6]
type=graphic
x=100
y=80
width=88
height=60
graphic=tradebacking,0

[frame7]
type=graphic
x=100
y=140
width=88
height=60
graphic=tradebacking,0

[frame8]
type=graphic
x=100
y=200
width=88
height=60
graphic=tradebacking,0

[frame9]
type=graphic
x=188
y=20
width=88
height=60
graphic=tradebacking,0

[frame10]
type=graphic
x=100
y=260
width=88
height=60
graphic=tradebacking,0

[frame11]
type=graphic
x=188
y=80
width=88
height=60
graphic=tradebacking,0

[frame12]
type=graphic
x=188
y=140
width=88
height=60
graphic=tradebacking,0

[frame13]
type=graphic
x=188
y=200
width=88
height=60
graphic=tradebacking,0

[frame14]
type=graphic
x=188
y=260
width=88
height=60
graphic=tradebacking,0

[frame15]
type=graphic
x=276
y=20
width=88
height=60
graphic=tradebacking,0

[frame16]
type=graphic
x=364
y=80
width=88
height=60
graphic=tradebacking,0

[frame17]
type=graphic
x=276
y=80
width=88
height=60
graphic=tradebacking,0

[frame18]
type=graphic
x=276
y=140
width=88
height=60
graphic=tradebacking,0

[frame19]
type=graphic
x=276
y=200
width=88
height=60
graphic=tradebacking,0

[frame20]
type=graphic
x=276
y=260
width=88
height=60
graphic=tradebacking,0

[frame21]
type=graphic
x=364
y=140
width=88
height=60
graphic=tradebacking,0

[frame22]
type=graphic
x=364
y=20
width=88
height=60
graphic=tradebacking,0

[frame23]
type=graphic
x=364
y=200
width=88
height=60
graphic=tradebacking,0

[frame24]
type=graphic
x=364
y=260
width=88
height=60
graphic=tradebacking,0

[frame25]
type=graphic
x=412
y=20
width=88
height=60
graphic=tradebacking,0

[frame26]
type=graphic
x=412
y=80
width=88
height=60
graphic=tradebacking,0

[frame27]
type=graphic
x=412
y=140
width=88
height=60
graphic=tradebacking,0

[frame28]
type=graphic
x=412
y=200
width=88
height=60
graphic=tradebacking,0

[frame29]
type=graphic
x=412
y=260
width=88
height=60
graphic=tradebacking,0

[frame30]
type=graphic
x=12
y=20
width=25
height=30
graphic=steelborder,0

[frame31]
type=graphic
x=-3
y=49
width=36
height=36
graphic=miscgraphics,2

[frame32]
type=graphic
x=-3
y=85
width=36
height=36
graphic=miscgraphics,2

[frame33]
type=graphic
x=-3
y=121
width=36
height=36
graphic=miscgraphics,2

[frame34]
type=graphic
x=-3
y=157
width=36
height=36
graphic=miscgraphics,2

[frame35]
type=graphic
x=-3
y=193
width=36
height=36
graphic=miscgraphics,2

[frame36]
type=graphic
x=-3
y=229
width=36
height=36
graphic=miscgraphics,2

[frame37]
type=graphic
x=-3
y=265
width=36
height=36
graphic=miscgraphics,2

[frame38]
type=graphic
x=479
y=50
width=36
height=36
graphic=steelborder2,1

[frame39]
type=graphic
x=479
y=86
width=36
height=36
graphic=steelborder2,1

[frame40]
type=graphic
x=479
y=122
width=36
height=36
graphic=steelborder2,1

[frame41]
type=graphic
x=479
y=158
width=36
height=36
graphic=steelborder2,1

[frame42]
type=graphic
x=479
y=194
width=36
height=36
graphic=steelborder2,1

[frame43]
type=graphic
x=479
y=230
width=36
height=36
graphic=steelborder2,1

[frame44]
type=graphic
x=479
y=266
width=36
height=36
graphic=steelborder2,1

[frame45]
type=graphic
x=73
y=299
width=36
height=36
graphic=miscgraphics,3

[frame46]
type=graphic
x=109
y=299
width=36
height=36
graphic=miscgraphics,3

[frame47]
type=graphic
x=145
y=299
width=36
height=36
graphic=miscgraphics,3

[frame48]
type=graphic
x=181
y=299
width=36
height=36
graphic=miscgraphics,3

[frame49]
type=graphic
x=217
y=299
width=36
height=36
graphic=miscgraphics,3

[frame50]
type=graphic
x=253
y=299
width=36
height=36
graphic=miscgraphics,3

[frame51]
type=graphic
x=289
y=299
width=36
height=36
graphic=miscgraphics,3

[frame52]
type=graphic
x=325
y=299
width=36
height=36
graphic=miscgraphics,3

[frame53]
type=graphic
x=361
y=299
width=36
height=36
graphic=miscgraphics,3

[frame54]
type=graphic
x=397
y=299
width=36
height=36
graphic=miscgraphics,3

[frame55]
type=graphic
x=433
y=299
width=36
height=36
graphic=miscgraphics,3

[frame56]
type=graphic
x=72
y=5
width=36
height=36
graphic=steelborder2,0

[frame57]
type=graphic
x=108
y=5
width=36
height=36
graphic=steelborder2,0

[frame58]
type=graphic
x=144
y=5
width=36
height=36
graphic=steelborder2,0

[frame59]
type=graphic
x=180
y=5
width=36
height=36
graphic=steelborder2,0

[frame60]
type=graphic
x=216
y=5
width=36
height=36
graphic=steelborder2,0

[frame61]
type=graphic
x=252
y=5
width=36
height=36
graphic=steelborder2,0

[frame62]
type=graphic
x=288
y=5
width=36
height=36
graphic=steelborder2,0

[frame63]
type=graphic
x=324
y=5
width=36
height=36
graphic=steelborder2,0

[frame64]
type=graphic
x=360
y=5
width=36
height=36
graphic=steelborder2,0

[frame65]
type=graphic
x=396
y=5
width=36
height=36
graphic=steelborder2,0

[frame66]
type=graphic
x=432
y=5
width=36
height=36
graphic=steelborder2,0

[frame67]
type=graphic
x=252
y=34
width=36
height=36
graphic=steelborder2,0

[frame68]
type=graphic
x=37
y=5
width=36
height=36
graphic=steelborder2,0

[frame69]
type=graphic
x=37
y=299
width=36
height=36
graphic=miscgraphics,3

[frame70]
type=graphic
x=12
y=290
width=25
height=30
graphic=steelborder,2

[frame71]
type=graphic
x=475
y=20
width=25
height=30
graphic=steelborder,1

[frame72]
type=graphic
x=439
y=5
width=36
height=36
graphic=steelborder2,0

[frame73]
type=graphic
x=475
y=290
width=25
height=30
graphic=steelborder,3

[frame74]
type=graphic
x=439
y=299
width=36
height=36
graphic=miscgraphics,3

[frame75]
type=graphic
x=288
y=34
width=36
height=36
graphic=steelborder2,0

[frame76]
type=graphic
x=324
y=34
width=36
height=36
graphic=steelborder2,0

[frame77]
type=graphic
x=360
y=34
width=36
height=36
graphic=steelborder2,0

[frame78]
type=graphic
x=396
y=34
width=36
height=36
graphic=steelborder2,0

[frame79]
type=graphic
x=432
y=34
width=36
height=36
graphic=steelborder2,0

[frame80]
type=graphic
x=459
y=34
width=36
height=36
graphic=steelborder2,0

[frame81]
type=graphic
x=216
y=34
width=36
height=36
graphic=steelborder2,0

[frame82]
type=graphic
x=180
y=34
width=36
height=36
graphic=steelborder2,0

[frame83]
type=graphic
x=144
y=34
width=36
height=36
graphic=steelborder2,0

[frame84]
type=graphic
x=108
y=34
width=36
height=36
graphic=steelborder2,0

[frame85]
type=graphic
x=72
y=34
width=36
height=36
graphic=steelborder2,0

[frame86]
type=graphic
x=36
y=34
width=36
height=36
graphic=steelborder2,0

[frame87]
type=graphic
x=17
y=34
width=36
height=36
graphic=steelborder2,0

[title]
type=text
x=12
y=30
width=488
height=14
center=yes
font=b12_full
shadowed=yes
text=Collection Log
colour=0xFFFF00

[close]
type=text
x=424
y=28
buttontype=close
width=68
height=11
font=p11_full
shadowed=yes
text=Close Window
colour=0xC00000
overcolour=0xFFFFFF

[tab0fill]
type=rect
x=20
y=50
width=115
height=16
fill=yes
colour=0x3E3529

[tab0]
type=text
x=20
y=51
buttontype=normal
width=115
height=14
center=yes
font=b12_full
shadowed=yes
text=Bosses
colour=0xFF981F
overcolour=0xFFFFFF
option=View

[tab1fill]
type=rect
x=139
y=50
width=115
height=16
fill=yes
colour=0x3E3529

[tab1]
type=text
x=139
y=51
buttontype=normal
width=115
height=14
center=yes
font=b12_full
shadowed=yes
text=Clues
colour=0xFF981F
overcolour=0xFFFFFF
option=View

[tab2fill]
type=rect
x=258
y=50
width=115
height=16
fill=yes
colour=0x3E3529

[tab2]
type=text
x=258
y=51
buttontype=normal
width=115
height=14
center=yes
font=b12_full
shadowed=yes
text=Minigames
colour=0xFF981F
overcolour=0xFFFFFF
option=View

[tab3fill]
type=rect
x=377
y=50
width=115
height=16
fill=yes
colour=0x3E3529

[tab3]
type=text
x=377
y=51
buttontype=normal
width=115
height=14
center=yes
font=b12_full
shadowed=yes
text=Other
colour=0xFF981F
overcolour=0xFFFFFF
option=View

[listbox]
type=rect
x=18
y=70
width=154
height=230
colour=0x5A4F3D

[pagebox]
type=rect
x=188
y=70
width=302
height=230
colour=0x5A4F3D

[list]
type=layer
x=20
y=72
width=150
height=226
scroll=0

[row0]
layer=list
type=layer
x=0
y=0
width=150
height=15
hide=yes

[r0box]
layer=row0
type=rect
x=0
y=0
buttontype=normal
width=150
height=14
fill=yes
colour=0x4A3F31
overcolour=0x6F6250
option=View

[r0name]
layer=row0
type=text
x=4
y=1
width=142
height=13
font=p12_full
shadowed=yes
text=
colour=0xFF981F

[row1]
layer=list
type=layer
x=0
y=15
width=150
height=15
hide=yes

[r1box]
layer=row1
type=rect
x=0
y=0
buttontype=normal
width=150
height=14
fill=yes
colour=0x4A3F31
overcolour=0x6F6250
option=View

[r1name]
layer=row1
type=text
x=4
y=1
width=142
height=13
font=p12_full
shadowed=yes
text=
colour=0xFF981F

[row2]
layer=list
type=layer
x=0
y=30
width=150
height=15
hide=yes

[r2box]
layer=row2
type=rect
x=0
y=0
buttontype=normal
width=150
height=14
fill=yes
colour=0x4A3F31
overcolour=0x6F6250
option=View

[r2name]
layer=row2
type=text
x=4
y=1
width=142
height=13
font=p12_full
shadowed=yes
text=
colour=0xFF981F

[row3]
layer=list
type=layer
x=0
y=45
width=150
height=15
hide=yes

[r3box]
layer=row3
type=rect
x=0
y=0
buttontype=normal
width=150
height=14
fill=yes
colour=0x4A3F31
overcolour=0x6F6250
option=View

[r3name]
layer=row3
type=text
x=4
y=1
width=142
height=13
font=p12_full
shadowed=yes
text=
colour=0xFF981F

[row4]
layer=list
type=layer
x=0
y=60
width=150
height=15
hide=yes

[r4box]
layer=row4
type=rect
x=0
y=0
buttontype=normal
width=150
height=14
fill=yes
colour=0x4A3F31
overcolour=0x6F6250
option=View

[r4name]
layer=row4
type=text
x=4
y=1
width=142
height=13
font=p12_full
shadowed=yes
text=
colour=0xFF981F

[row5]
layer=list
type=layer
x=0
y=75
width=150
height=15
hide=yes

[r5box]
layer=row5
type=rect
x=0
y=0
buttontype=normal
width=150
height=14
fill=yes
colour=0x4A3F31
overcolour=0x6F6250
option=View

[r5name]
layer=row5
type=text
x=4
y=1
width=142
height=13
font=p12_full
shadowed=yes
text=
colour=0xFF981F

[row6]
layer=list
type=layer
x=0
y=90
width=150
height=15
hide=yes

[r6box]
layer=row6
type=rect
x=0
y=0
buttontype=normal
width=150
height=14
fill=yes
colour=0x4A3F31
overcolour=0x6F6250
option=View

[r6name]
layer=row6
type=text
x=4
y=1
width=142
height=13
font=p12_full
shadowed=yes
text=
colour=0xFF981F

[row7]
layer=list
type=layer
x=0
y=105
width=150
height=15
hide=yes

[r7box]
layer=row7
type=rect
x=0
y=0
buttontype=normal
width=150
height=14
fill=yes
colour=0x4A3F31
overcolour=0x6F6250
option=View

[r7name]
layer=row7
type=text
x=4
y=1
width=142
height=13
font=p12_full
shadowed=yes
text=
colour=0xFF981F

[row8]
layer=list
type=layer
x=0
y=120
width=150
height=15
hide=yes

[r8box]
layer=row8
type=rect
x=0
y=0
buttontype=normal
width=150
height=14
fill=yes
colour=0x4A3F31
overcolour=0x6F6250
option=View

[r8name]
layer=row8
type=text
x=4
y=1
width=142
height=13
font=p12_full
shadowed=yes
text=
colour=0xFF981F

[row9]
layer=list
type=layer
x=0
y=135
width=150
height=15
hide=yes

[r9box]
layer=row9
type=rect
x=0
y=0
buttontype=normal
width=150
height=14
fill=yes
colour=0x4A3F31
overcolour=0x6F6250
option=View

[r9name]
layer=row9
type=text
x=4
y=1
width=142
height=13
font=p12_full
shadowed=yes
text=
colour=0xFF981F

[row10]
layer=list
type=layer
x=0
y=150
width=150
height=15
hide=yes

[r10box]
layer=row10
type=rect
x=0
y=0
buttontype=normal
width=150
height=14
fill=yes
colour=0x4A3F31
overcolour=0x6F6250
option=View

[r10name]
layer=row10
type=text
x=4
y=1
width=142
height=13
font=p12_full
shadowed=yes
text=
colour=0xFF981F

[row11]
layer=list
type=layer
x=0
y=165
width=150
height=15
hide=yes

[r11box]
layer=row11
type=rect
x=0
y=0
buttontype=normal
width=150
height=14
fill=yes
colour=0x4A3F31
overcolour=0x6F6250
option=View

[r11name]
layer=row11
type=text
x=4
y=1
width=142
height=13
font=p12_full
shadowed=yes
text=
colour=0xFF981F

[row12]
layer=list
type=layer
x=0
y=180
width=150
height=15
hide=yes

[r12box]
layer=row12
type=rect
x=0
y=0
buttontype=normal
width=150
height=14
fill=yes
colour=0x4A3F31
overcolour=0x6F6250
option=View

[r12name]
layer=row12
type=text
x=4
y=1
width=142
height=13
font=p12_full
shadowed=yes
text=
colour=0xFF981F

[name]
type=text
x=192
y=74
width=284
height=14
font=b12_full
shadowed=yes
text=
colour=0xFF981F

[obtained]
type=text
x=192
y=90
width=147
height=13
font=p12_full
shadowed=yes
text=
colour=0xFF981F

[counter0]
type=text
x=192
y=90
width=294
height=13
font=p12_full
shadowed=yes
text=
colour=0xFF981F

[counter1]
type=text
x=192
y=104
width=294
height=13
font=p12_full
shadowed=yes
text=
colour=0xFF981F

[counter2]
type=text
x=192
y=104
width=294
height=13
font=p12_full
shadowed=yes
text=
colour=0xFF981F

[rule]
type=rect
x=190
y=119
width=298
height=1
fill=yes
colour=0x5A4F3D

[grid]
type=layer
x=190
y=124
width=284
height=172
scroll=680

[items]
layer=grid
type=inv
x=0
y=0
width=8
height=20
interactable=no
margin=4,2
option1=Check
