type=overlay

[panel]
type=layer
x=6
y=6
width=124
height=74

[title]
layer=panel
type=text
x=0
y=0
width=124
height=13
center=yes
font=p12_full
shadowed=yes
text=Killcount
colour=0xFFFFFF

[armadyl]
layer=panel
type=text
x=0
y=15
width=124
height=13
center=yes
font=p12_full
shadowed=yes
text=Armadyl: 0
colour=0xFFFF00

[bandos]
layer=panel
type=text
x=0
y=29
width=124
height=13
center=yes
font=p12_full
shadowed=yes
text=Bandos: 0
colour=0xFFFF00

[saradomin]
layer=panel
type=text
x=0
y=43
width=124
height=13
center=yes
font=p12_full
shadowed=yes
text=Saradomin: 0
colour=0xFFFF00

[zamorak]
layer=panel
type=text
x=0
y=57
width=124
height=13
center=yes
font=p12_full
shadowed=yes
text=Zamorak: 0
colour=0xFFFF00
